/*made logo image smaller*/


#logo {
    width: 200px;
    height: auto;
    margin-top: 54px;
  }


* body{
    background-color: rgb(233, 192, 177);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
}   


p {
    border: 3px solid rgb(77, 77, 77);
   border-radius: 5px
}
   


